@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
.preview {
  padding-left: 15px;
  padding-right: 15px;
  height: 85vh;
  overflow-y: scroll;
  background-color: rgb(245, 244, 244);
}

code {
  font-family: 'Cascadia Code';
}

.grid {
  display: grid;
}
.col {
  grid-template-columns: 1fr 1fr;
}
.row {
  grid-template-rows: 3fr 1fr;
}

code {
  border-radius: 10px;
}

code::before {
  content: attr(lang);
}

.toolbar {
  height: 15vh;
  background-color: rgb(17, 17, 17);
  color: white;
  padding-left: 20px;
}

strong {
  font-weight: 700;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(19, 28, 80, 0.623);
}

.main-card {
  align-items: center;
  text-align: center;
  width: 50vw;
  padding: 8px;
  border-radius: 10;
}
.main-card > h1 {
  font-size: xx-large;
  font-family: 'Comfortaa';
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.btn-new {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: 'Comfortaa';
}

.btn-new:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn-new:active {
  color: #000;
}

.btn-new:active:after {
  background: transparent;
}

.btn-new:hover:before {
  opacity: 1;
}

.btn-new:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

input[type='text'],
select {
  padding: 15px;
  margin-bottom: 5px;
  border: 0.5px solid;
  background-color: #000;
  color: white;
  border-radius: 15px;
  transition: all 0.5s ease;
}
input[type='text']::placeholder {
  color: white;
}
input[type='text']:focus,
select:focus {
  outline: #7a00ff;
  border-radius: 10px;
  padding: 16px;
}

.home {
  height: 100vh;
  font-family: 'Comfortaa';
}

.noter {
  margin-bottom: 5px;
}

/* select {
  padding: 10px;
  margin-left: 8px;
  border-radius: 10px;
  transition: all 0.5s ease-in;
}
select:hover {
  border-radius: 5px;
}
select:focus {
  outline: none;
} */

.preview-dark {
  background-color: #111;
  color: white;
}

.preview-editor-theme {
  background-color: #011627;
  color: white;
}

a {
  position: relative;
  color: #54aeb1;
  text-decoration: none;
}

a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a:hover:before {
  visibility: visible;
  width: 100%;
}

a:hover {
  color: rgb(80, 140, 148);
}

.preview-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
